* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#menu {
    display: flex;
    justify-content: space-between;
    padding: 8px 40px 8px 40px;
    position: fixed;
    width: 100%;
    z-index: 999;
    box-shadow: 2px 2px 8px black;
    align-items: center;
}

#menu ul {
    display: flex;
    gap: 35px;
}

#menu a {
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: none;
    font-size: 2.5vh;
}

#menu a:hover {
    border-bottom: 2px solid rgb(255, 255, 255);
}

.box-shadow, main {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to left, #DCDCDC, #A9A9A9);
    background-size: 500%, 100%;
    animation: degrade-animado 3s infinite alternate;
    z-index: -1;
}

@keyframes degrade-animado {
    0% {
        background-position-x: 0%;
    }

    100% {
        background-position-x: 100%;
    }
}

#container {
    background-color: #969696;
    width: 100%;
    height: 60vh;
    margin: 0 auto;
    position: relative;
    top: 20%;
    box-shadow: 0px 0px 16px black;
}

#cont {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    top: 15%;
}
#container{
    display: flex;
    justify-content: flex-end
}

#perfil{
    display: flex;
}

#perfil img{
    display: flex;
    width: 200px;
    height: 250px;
    border-radius: 20%;
}
#perfil h1{
    font-size: 6vh;
}
#perfil p{
    text-align: justify;
    width: 60%;
    font-size: 3vh;
    align-self: center;
    padding-top: 35px;
    font-weight: bold;
}

#desc {
    display: block;
    width: 100%;
    padding-left: 2rem;
}
strong{
    color: 	#DCDCDC;
}
#projetos{
   display: flex;
   justify-content: center;
}



