@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  outline: 0;
}

body {
  background-color: #b3998a     ;
}

.menu-h {
  background: #976748;
  position: fixed;
  width: 100%;
  
}

.menu-h ul {
  max-width: 800px;
  list-style-type: none;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.021);

}

.menu-h ul li {
  display: inline;
}

.menu-h ul li a {
  padding: 25px;
  text-decoration: none;
  display: inline-block;
  transition: background .5s;
  color: #dcd4cf
}

.menu-h ul li a:hover {
  color: #b3998a;

}

img{
    border-radius: 5%;
    margin: auto;
}
.container{
  display: flex;
  padding: 2%;
  
}


.intro {
  background-color: #976748;
  max-width: 1300px;
  height: 150px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 5%;
  color: #dcd4cf;
  padding: 7px;
}

.intro1 {
  text-decoration: none;
  border-width: 1px;
  border-radius: 50px;
  border-style: solid;
  box-shadow: none;
  font-family: 'SoDo Sans';
  font-size: 20px;
  font-weight: 600;
  padding: 7px 16px;
  color: #976748;
  display: inline-block;
  margin-top: 10px;
  background-color: #dcd4cf;



}

.intro1 {
  transition: all 1s;
  cursor: pointer;
}

.intro1:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.bora {
  height: 700px;
}

.base {
  height: 600px;
  
}
.container{
    border-radius: 100%;
}

